.app-wrapper {
    /* display: grid; */
    /*max-width: 1200px;*/
    margin: 0 auto;
    /* grid-template-areas:
      "header"
      "content"; */

    /* grid-template-rows: 110px 1fr; */
    /* grid-template-columns: 1fr 5fr; */
}

.app-wrapper-content {
    /* grid-area: content; */
    min-height: calc(100vh - 60px);
    background-color: #ffffff;
    padding: 40px 40px;
}



