.header {
    font-family: Impact;
    grid-area: header;
    background-color: #868b8f;
    display: flex;
    justify-content: space-between;
}
header img {
    width: 80px;
}
h1 {
    width: 100px;
    margin: 10px 250px 50px -46px;
    color: #454547;
}
header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial Rounded MT Bold";
}
header a{
    text-decoration: none;
    padding: 12px 30px 12px 14px;
}
header a:hover{
    background: #454547;
    color: #868b8f;
}
header > ul li a{
    text-decoration: none;
    color: #454547;
    font-size: 20px;
    text-transform: uppercase;
}
i {
    font-style: normal;
}