.descriptionBlock {
    /* padding: 10px; */
}
.imageWrapper img {
    width: 100%;
    height: 500px;
    /*background-image: url('../../../mainpic.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-color: #9bbd98;
    background-color: #868b8f;
    background-blend-mode: screen;
}

